@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "partials/colours";
@import "partials/headings";

.consent-body{
  padding-right: 50px;
  padding-left: 50px;
}

.margin-footer{
  margin-bottom: 50px;
}
